<!-- @format -->

<%- include('includes/head.ejs') %> <%- include('includes/nav.ejs') %>
<style>
  .main_ {
    margin: 0;
    padding: auto;
  }
  label {
    font-size: 2rem;
    font-style: italic;
  }
  input {
    font-size: 2rem;
    border-radius: 1%;
  }
  .h {
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
  }
  .submit {
    background-color: blue;
    color: aliceblue;
    width: 10rem;
    border-radius: 1%;
  }
  .fm {
    padding-top: 10%;
    margin-bottom: 1%;
    text-align: center;
  }
  li {
    list-style: none;
  }

  .task_area {
    padding-bottom: 1%;
  }
  .select {
    padding: 0%;
    width: 5rem;
    background-color: rgb(47, 0, 255);
  }

  .ex {
    margin-bottom: 1%;
    font-size: larger;
    width: 10rem;
    background-color: rgb(63, 187, 218);
  }
  .inputs {
    background-color: rgb(55, 168, 131);
    margin: 0;
    padding: 0%;
    text-align: center;
  }
  .items {
    background-size: cover;
    background-position: 4%;
  }
  .btns {
    margin-left: -30%;
    margin-top: 1%;
  }
</style>
<main class="main_">
  <section class="main_section">
    <form action="/add" class="fm" method="POST">
      <div class="fm_area">
        <div class="fm_row">
          <h1 class="h">Task manager</h1>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Title"
            required />
          <select name="status" id="status" class="submit select">
            <option value="done">Done</option>
            <option value="doing">Doing</option>
            <option value="undone">Undone</option>
          </select>
          <input class="submit" type="submit" value="Add" />
        </div>
      </div>
    </form>
    <% if(tasks.length>0) {%>
    <fieldset class="inputs">
      <div class="task_area">
        <ul class="items">
          <% tasks.forEach(task=>{ %>
          <form action="/update/<%=task._id %>" method="POST">
            <li class="item">
              <input
                type="text"
                name="task"
                id="task"
                value="<%= task.title %>" />
              <input
                type="text"
                name="status"
                id="status"
                value="<%= task.status %>" />
            </li>
            <div class="btns">
              <button class="ex" type="submit">Update</button>
            </div>
          </form>
          <div class="btns">
            <a href="/delete/<%=task._id %>"
              ><button class="ex">Delete</button></a
            >
          </div>
          <% }) %>
        </ul>
      </div>
    </fieldset>
    <% }else{%> <% } %>
  </section>
  <%- include('includes/flash.ejs') %>
</main>

<%- include('includes/end.ejs') %>
